




<p>front-office works!</p>

<div class =" g">
    <ul class="treeview-menu menu-open" style="display: block;">
                            
        <li class=""><a href="http://innovatorsps.in/smart_school/admin/enquiry"><i class="fa fa-angle-double-right"></i> Admission Enquiry </a></li>

                                        <li class=""><a href="http://innovatorsps.in/smart_school/admin/visitors"><i class="fa fa-angle-double-right"></i> Visitor Book</a></li>

        
        <li class=""><a href="http://innovatorsps.in/smart_school/admin/generalcall"><i class="fa fa-angle-double-right"></i> Phone Call Log</a></li>

        
        <li class=""><a href="http://innovatorsps.in/smart_school/admin/dispatch"><i class="fa fa-angle-double-right"></i> Postal Dispatch</a></li>

        
        <li class=""><a href="http://innovatorsps.in/smart_school/admin/receive"><i class="fa fa-angle-double-right"></i> Postal Receive</a></li>

        
        <li class=""><a href="http://innovatorsps.in/smart_school/admin/complaint"><i class="fa fa-angle-double-right"></i> Complain</a></li>

        
        <li class=""><a href="http://innovatorsps.in/smart_school/admin/visitorspurpose"><i class="fa fa-angle-double-right"></i> Setup Front Office</a></li>

                            </ul>
</div>
