<div class="a" style="align-items: center;">
    <li class="dropdown open" style="background-color: aliceblue; margin-left: 20%;">
        <p>quick-links works!</p>

        <h1> Student Details </h1>


        <h1> Collect Fees </h1>


        <h1> Add Income </h1>

        <h1> Add Expense </h1>


        <h1> Student Attendance </h1>
        <h1> Staff Attendance </h1>


        <h1> Staff Directory </h1>


        <h1> Exam Group </h1>


        <h1> Exam Result </h1>


        <h1> Class Timetable </h1>


        <h1> Admission Enquiry </h1>

        <h1> Complain </h1>


        <h1> Upload Content </h1>


        <h1> Add Item Stock </h1>


        <h1> Notice Board </h1>


        <h1> Send Email / SMS </h1>


    </li>
</div>