
<p>director-dashboard works!</p>
<div class="col-lg-12 control-section default">
    <div class="sample_container badge-default">
        <div class="e-btn-group e-custom-button">
            <button id="update" class="e-btn">Updates
                <!-- Notification Badge -->
                <span class="e-badge e-badge-info e-badge-notification e-badge-overlap">14</span>
            </button>
            <button id="task" class="e-btn">Tasks
                <!-- Notification Badge -->
                <span class="e-badge e-badge-success e-badge-notification e-badge-overlap">48</span>
            </button>
            <button id="notify" class="e-btn">Notifications
                <!-- Notification Badge -->
                <span class="e-badge e-badge-secondary e-badge-notification e-badge-overlap">99</span>
            </button>
        </div>
    </div>
</div>